.user__info {
    height: 180px;
    display: flex;
    justify-content: space-between;
}

.user__info-left {
    width: 58%;
}

.user__info-right {
    width: 40%;
}

.info__header {
    display: flex;
    justify-content: start;
}

.info__header h2 {
    font-weight: 900;
}

.info__header h4 {
    color: gray;
    letter-spacing: 0em;
    margin-top: 28px;
    margin-left: 5px;
}

.info__body {
    display: flex;
    justify-content: space-between;
}

.info__body p>span {
    color: rgb(167, 171, 170);
    font-style: italic;
}

.info__body-left {
    width: 60%;
    border-right: 2px dotted gray;
}

.info__body-right {
    width: 35%;
}

.info__body-left p {
    margin: 0px;
    padding: 2px;
}

.user__avatar img {
    width: 250px;
}

.user__info-right {
    width: 300px;
    height: 300px;
    padding: 25px;
}

.chart__kpi h3 {
    text-align: center;
    text-transform: uppercase;
    color: gray !important;
    margin: 0 !important;
}

.add-kpi {
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 7px 0;
    display: flex;
    border-top: 1px solid rgb(27, 177, 228);
    border-bottom: 1px solid rgb(27, 177, 228);
}

.add-kpi h3 {
    margin-top: 10px;
    width: 10%;
}

.add-kpi-content {
    display: flex;
}

.add-kpi .field-name {
    display: inline-block;
    width: 80px;
}

.add-kpi .date {
    margin-right: 20px;
}

.add-kpi .kpi-date {
    width: 80px;
}

.add-kpi>div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-kpi input[type='text'] {
    width: 80px;
    margin-right: 20px;
}

.add-kpi .kpi-unit {
    height: 30px;
    width: 50px;
}

.add-kpi-content {
    display: flex;
}

.add-kpi-content>div select {
    padding: 5px 10px !important;
}

.add-kpi-content>div span {
    padding-right: 0px;
}

.add-kpi-content>div input {
    width: 40px;
    margin-right: 5px;
}

.add-kpi-content .submit-btn-kpi {
    margin-left: 20px;
    background-color: var(--main-color);
    color: white;
    width: 100px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.add-kpi-content .submit-btn-kpi:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}