.chart__header #form{
    width: 150px;
    text-align: center;
}
.card{
    background-color: white;
    padding: 15px;
    margin-top:0px;
}
.dashboard__list{
    display: flex;
    justify-content: space-between;
}
.dashboard__list .card{
    border-radius: 5px;
}
.dashboard__list .card:first-child{
    width: 55%;
    border-radius: 5px;
}
.dashboard__list .card:last-child{
    width: 38%;
    border-radius: 5px;
}
.dashboard__list .card .card__header{
    display: flex;
    justify-content: space-between;
}
.dashboard__list .card h2{
    color:gray;
    font-size: 20px;
    margin:5px;
}
.dashboard__content-list-card{
    width: 100%;
    
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}
.dashboard__content-list-card > .list-card-item{
    width: 24%;
    background-color: white;
    height: 120px;
    padding:10px;
    box-sizing: border-box;
    border-bottom: 3px solid var(--main-color);
    display: flex;
    justify-content: start;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.list-card-item:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.list-card-item i{
    font-size: 50px;
    margin-right: 20px;
    line-height: 100px;
}
.list-card-item p:first-child{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 700;
    padding:0;
}
.list-card-item p:last-child{
    font-size: 18px;
    font-weight: 900;
    margin-top:-10px;
}

