.paper {
    background-color: white;
    margin: 70px 200px;
    padding: 45px;
    height: calc(100% - 140px);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-sizing: border-box;
}

.paper__header {
    display: flex;
    justify-content: space-between;
}

.paper__header i {
    color: red;
    font-size: 25px;
    margin: 15px;
}

.paper__header h3 {
    margin: 15px;
}