.header {
    box-shadow: 5px 5px 5px #d7d7d7;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    width: 300px;
}

.header__menu__control > i {
    margin: 0px 10px;
    font-size: large;
}

.header__menu__account {
    position: relative;
    box-sizing: border-box;
}

.header__menu__account > p {
    display: inline-block;
}

.header__menu__account > i {
    margin-left: 20px;
    font-size: large;
}

.role-title {
    border: 1px solid #d7d7d7;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 250ms, color 250ms;
}

.show--dropdown,
.role-title:hover {
    background-color: #000000;
    color: #ffffff;
}

.account__dropdown {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #d7d7d7;
    padding: 10px;
    width: 110px;
    top: 60px;
    border-radius: 5px;
}

.account__option {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.account__option > p {
    margin: 0;
}
