.header {
    box-shadow: 5px 5px 5px #d7d7d7;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    /* background-color: var(--main-bg); */
    color: black;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    width: 300px;
}

.header__menu__control {
    position: relative;
}

.header__menu__control > i {
    margin: 0px 10px;
    font-size: large;
}

.header__menu__account {
    position: relative;
    box-sizing: border-box;
}

.header__menu__account > p {
    display: inline-block;
    background-color: white;
}
.header__menu__account > p:hover{
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.header__menu__account > i {
    margin-left: 20px;
    font-size: large;
}

.role-title {
    border: 1px solid #d7d7d7;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 250ms, color 250ms;
}

.show--dropdown,
.role-title:hover {
    background-color: #000000;
    color: var(--text-color);
}

.account__dropdown {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #d7d7d7;
    padding: 10px;
    width: 110px;
    top: 60px;
    border-radius: 5px;
}

.notification__dropdown {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #d7d7d7;
    padding: 10px;
    top: 40px;
    border-radius: 5px;
    left: -100px;
    z-index: 999;
    width: 300px;
}

.notification__dropdown > div {
    margin-bottom: 5px;
    flex-direction: column;
}

.account__option {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.notification__option {
    align-items: center;
    border: 1px solid #d7d7d7;
    padding: 10px !important;
    cursor: default;
    margin-bottom: 5px;
}

.account__option > p {
    margin: 0;
}

.link {
    color: #0596cb;
    cursor: pointer;
}

.button-group {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}

.button-group > button {
    width: 100px;
    cursor: pointer;
    border: none;
    color: #ffffff;
    font-weight: 600;
}

.accept-btn {
    background-color: #2da700;
}

.deny-btn {
    background-color: #d53737;
}

.detail-modal {
    background-color: #ffffff;
    width: 500px;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
}

.category {
    margin: 10px 0px;
}
.notification__option.bg-success{
    background-color: #d6e3d1;
}
.notification__option.bg-warnning{
    background-color: #e0c2cd;
}
.notification__option .weight-text-red{
    color: red;
    font-weight: 700;
    font-size: 130%;
}
.notification__option .weight-text-green{
    color: green;
    font-size: 130%;
    font-weight: 700;
}
.text-red{
    color: red;
    font-weight: 700;
}