.list-container {
    /* overflow: hidden; */
}

.list {
    display: flex;
}

.detail {
    width: 50%;
}

.sold {
    color: #ff0000;
}

.waiting {
    color: #e5ff00;
}

.available {
    color: #00ff0d;
}

.paper__list__post {
    outline: none;
    width: fit-content;
    margin: auto;
}

.caring__cell {
    cursor: pointer;
}
