.main-content {
    padding: 30px;
    background-color: var(--main-bg-light);
    max-height: calc(100% - 130px);
    overflow-y: auto;
    overflow-x: hidden;
}
.main-content > h1{
    padding:0;
    margin-top:-10px;
    margin-bottom:30px;
}
.list-real-estate {
    margin-top: 20px;
}

.avatar-user {
    width: 25px;
}

.sample.fa.fa-user-circle {
    color: yellowgreen;
    font-size: 25px;
}

tr {
    cursor: pointer;
}


/* Model */

.paper {
    background-color: white;
    margin: 70px 200px;
    padding: 45px;
    height: calc(100% - 140px);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-sizing: border-box;
}

.paper__header {
    display: flex;
    justify-content: space-between;
}

.paper__header i {
    color: red;
    font-size: 25px;
    margin: 15px;
}

.paper__header h3 {
    margin: 15px;
}