.main-content {
    padding: 30px;
    background-color: var(--main-bg-light);
    height: calc(100% - 130px);
    overflow-y: auto;
    overflow-x: hidden;
}

.list-real-estate{
    margin-top:20px;
}