.option {
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 250ms;
    position: relative;
    border-radius: var(--border-radius);
    text-transform: capitalize;

}

.option:hover {
    color:var(--main-color);
}

.option > i {
    font-size: large;
    width: 30px;
}

.option > p {
    margin: 0px 20px;
    font-size: medium;
}

.selected {
    background-image: linear-gradient(
        to right,
        var(--main-color),
        var(--second-color)
    );
    color:var(--txt-white);
}
.selected > i{
    margin-left: 5px;
}
.unselected {
    padding-left: 25px;
}

.drop-down-btn {
    position: absolute;
    right: 10px;
    top: 35%
}

.drop-down-menu {
    margin-left: 60px;
    border-left: 0.5px solid #757575;
    border-bottom: 0.5px solid #757575;
}

.sub-item {
    padding: 5px;
    cursor: pointer;
    background-color: #2b2b2b;
    transition: background-color 250ms;
}

.sub-item:hover {
    background-color: #505050;
}
