input {
    padding: 5px;
    outline: none;
}

.sold {
    color: #ff0000;
}

.waiting {
    color: #e5ff00;
}

.available {
    color: #00ff0d;
}

.add__category {
    display: flex;
    margin: 10px 0px;
}

.add__category__inRow {
    display: flex;
    width: 45%;
}
.add__category__inRow .add__category__input {
    width: auto;
}

.add__category__title {
    display: block;
    width: 150px;
}

.add__category__input {
    width: 500px;
}

.add__category__input > input {
    width: 100%;
}

.add__category__btn__group {
    margin: auto;
    width: 500px;
    margin-top: 60px;
}

.add__category__btn__group > input {
    width: 100px;
    height: 40px;
    margin: 0px 10px;
    border: none;
    color: #ffffff;
    font-weight: 600;
}

.add__category__btn__group > input[value='Đăng bài'] {
    background-color: #3cb642;
}

.add__category__btn__group > input[value='Hủy'] {
    background-color: #df5757;
}
